*{
    margin: 0;
    padding: 0;
}
.dropDown{
    position: relative;
   
}
ul {
    position:absolute;
    text-decoration: none;
    width: 300px;
    list-style: none;
    opacity: 0;
    pointer-events: none;

}
.visible{
    opacity: 1;
    transition: 1500ms;
    pointer-events: visible;
}

ul li{
    border: rgb(73, 72, 72) 2px solid;
    padding: 20px;
    font-size: 25px;
    
}
.img:hover, 
ul li:hover{
    cursor: pointer;

}
.home{
    background-color: rgb(190, 186, 186);
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}